
@{
    ViewData["Title"] = "Plop";
}

<h1>Plop</h1>


<form method="post">

    @ViewBag.reponseMagique
    Nom : <input type="text" name="txtNom" />
    <br />
    Prénom : <input type="text" name="txtPrenom" />
    <br />
    <input type="submit" value="Valider" />

</form>

