
@{
    ViewData["Title"] = "Plop";
}

<h1>Plop Résultat</h1>

<ul>
    @foreach (Personne p in ViewBag.Personnes)
    {
        <li>@p.Prenom @p.Nom.ToUpper()</li>
    }
</ul>

<a href="~/personne/ajouter">Nouveau</a>